.wrap {
    width: 100%;
    margin-bottom: 100px;
    overflow: hidden;
    box-sizing: border-box;
}

.PostArea {
    width: 80%;
    max-width: 1500px;
    margin: 70px auto;
}

.PostHeader {
    margin-bottom: 50px;
    overflow: hidden;
}

.PostHeader::after {
    clear: both
}

.PostHeader>h1 {
    font-size: 7rem;
    font-weight: bold;
    float: left;
}

.PostHeader>a {
    color: grey;
    font-size: 3rem;
    margin-top: 10px;
    float: right;
}

.PostContent {
    width: 100%;
    box-sizing: border-box;
    float: left;
}