.newPoster {
    width: 100%;
    margin: 0 auto;
    border-top: 5px solid #f3f3f3
}

.Postlabel {
    margin-top: 100px;
    text-align: center;
    overflow: hidden;
}

.Postlabel h1 {
    margin: 30px auto;
    font-size: 50px;
}

.Postlabel h2 {
    margin: 0px auto;
    font-family: 'Nanum Gothic', sans-serif;
}

.Postlabel h2 a {
    text-decoration: none;
    color: #999
}

.Postlabel h2 a::after {
    clear: both
}

.newPoster>hr {
    border: none;
    margin: 10px auto 50px;
}

.postArea {
    width: 95%;
    max-width: 1500px;
    margin: 0 auto 150px;
    overflow: hidden;
}

.poster {
    width: 20%;
    min-width: 300px;
    height: 450px;
    box-shadow: 3px 3px 3px 3px #999;
    float: left;
    margin: 30px 25px;
    padding: 0;
    border-radius: 10px 10px 0 0;
    transform: scale(1);
    transition: all 0.3s ease-in-out;
}

.poster:hover {
    transform: scale(1.1);
    box-shadow: none;
}

.poster::after {
    clear: both;
}

.poster .postImage {
    width: 100%;
    height: 220px;
}

.poster .postImage img {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    overflow: hidden;
}

.poster .content {
    padding: 10px 20px 10px 20px;
    box-sizing: border-box;
}

.poster .content .title {
    height: 120px;
    font-size: 1em;
    text-align: left;
    color: #999;
}

.poster .content strong {
    display: block;
    margin-top: 5px;
    color: black;
    font-size: 1.2em;
}

.poster .content span {
    font-size: 1.52em;
    font-family: 'Do Hyeon', sans-serif;
    color: grey
}

.poster .content span:nth-child(3) {
    margin-left: 20px;
    font-size: 1em;
    color: grey
}

#myProgress {
    width: 100%;
    background-color: #f1f1f1;
    border-radius: 8px;
}

#myBar {
    width: 100%;
    height: 10px;
    background-color: #748ffc;
    border-radius: 8px;
}