.footer {
  height: 70px;
  background-color: #eeeeee;
  /* background-color: F9F9F9; */
}

.footer::before {
  content: "";
  border-top: 2px solid #ced4da;
  display: block;
  margin: 0 auto 20px;
}

.footer .container {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.footer .container span {
  font-size: 1.3rem;
  display: inline-block;
  align-items: center;
}